<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href ='{{ url_for( 'upload_photo', album_id=album_id)}}'>upload_photos</a>
    </div>
    <a href ='{{ url_for( 'delete_album', album_id=album_id) }}'>Delete_Album</br>
    <a href='/profile'>return to profile</a></li>
    <div>
    <br>Here are the photos in this album!<br>
        {% for photo in all_photos %}
            <br>{{photo[2]}}<br>
            <a href ='{{ url_for( 'view_photo', photo_id=photo[1]) }}'>
                <img src='data:image/jpg/jpeg/gif;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="400" height="379"/>
            </a>
        {% endfor %}
    </div>
</body>

</html>