<!doctype html>
<head>
    <title>friend</title>
</head>

<body>
<div class='title'>
    <h1> Here are your friends: </h1>
</div>

<div id='content'>
    <form method="post" action="{{ url_for('friend') }}">
        <label for="Friend">Search and add for your friend: </label>
        <input type="Friend" name="Friend"/><br/>
        <input type="submit"/>
    </form>
</div>
<li><a href ='view_friend'>view friends</a></li>
</body>
<div>
    <a href='/profile'>return to profile</a></li>
</div>
</html>