<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h1>{{message}}!</h1>
{% endif %}
<title>Welcome to Photoshare</title>

{% if email %}
  <h1>Hello {{ email }}!</h1>
{% endif %}

<!-- {% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %} -->

<!-- {% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile</a></p>
{% endif %} -->


<ul>
<li><a href='/login'>login</a></li>
<li><a href='/register'>sign up</a></li>
<li><a href ='profile'>Profile</a></li>
<li><a href ='/top10_users'>Top 10 Users</a></li>
</ul>

<!-- Page Content -->


<h2 class="my-4 text-center text-lg-center"> All Albums </h2>
<div class="row text-center text-lg-left">
    {% for album in all_albums %}
      <div class="col-lg-3 col-md-4 col-xs-6">
            <a href ='{{ url_for( 'album_content', album_id=album[0])}}'>{{ album[1] }}</a>
        </div>
    {% endfor %}
</div>

<h2 class="my-4 text-center text-lg-center"> Photo Gallery </h2>
<ul>
  <li><a href='/tag'>View all the tags</a></li>
  <li><a href='/search_tags'>search photos by tags</a></li>
</ul>
<div class="row text-center text-lg-left">
  {% for photo in Photos %}
      <div class="col-lg-3 col-md-4 col-xs-6">
          <a href ='{{ url_for( 'view_photo', photo_id=photo[0]) }}'>
        <img src='data:image/jpg/jpeg/gif;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}' width="400" height="379"/>
          </a>
      </div>
  {% endfor %}
</div>
