<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <li><a href='/'>Home</a></li>


        <img src='data:image/jpg/jpeg/gif;base64, {{base64.b64encode(image).decode("ascii")}}' width="400" height="379"/>
        <div>
            <a>tags:</a>
            {% for tag in tags %}
            <a href ='{{ url_for( 'view_alltag', tag=tag[0]) }}'>#{{tag[0]}}</a>
                
            {% endfor %}
        </div>
        <br>
        <a href ='{{ url_for( 'delete_photo', photo_id=photo_id) }}'>Delete</a>
        <form method="post" action="{{ url_for('add_comment', photo_id=photo_id) }}">
            <label for="Comment">Enter your Comment: </label>
            <input type="Comment" name="Comment"/><br/>
            <input type="submit"/>
        </form>

        <a href="{{ url_for('like', photo_id=photo_id) }}" >like</a>
        <div>
            By
            {% for like in likedby %}
                 <div> {{like[1]}}</div>
            {% endfor %}
        </div>

         <div>
            Comments
             {% for comment in all_comments %}
                 <div>
                    {% if comment[1] == None %}
                        <a>Unregistered User</a> 
                        <a>:</a> 
                        {{ comment[0]}}
                    {% else %}
                        {{ comment[1]}}
                        <a>:</a> 
                        {{ comment[0]}}
                    {% endif %}
                </div>

            {% endfor %}
        </div>
        <br>
        <a href='/'>Home</a>
</body>
</html>